.notLoggedInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notLoggedInContainer>input,
.notLoggedInContainer>button {
    width: 80vw;
    margin: 0.5rem;
}

.loggedInContainer {
    text-align: center;
}

.deleteImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteImage>img {
    max-width: 90vw;
    border-radius: 5px;
    max-height: 30rem;
}